.BalanceCard
  margin: 12px 0 24px

  &_animate
    transition: 0.2s

    &-reload
      transition: 1s
      transform: rotate(360deg)

    &--hide
      opacity: 0

    &--open
      opacity: 1

  &__currency
    display: flex
    align-items: center
    color: var(--text-primary)

    &-diamond
      gap: 4px

  &__icon-reload
    $icon-reload-size: 14px
    color: var(--gray)
    width: $icon-reload-size
    height: $icon-reload-size

  &__icon-balance
    $icon-balance-size: 22px
    height: $icon-balance-size
    color: var(--text-primary)
