// sass-lint:disable-all

body {
  --safe_area_inset_top: 0px;
  --safe_area_inset_right: 0px;
  --safe_area_inset_bottom: 0px;
  --safe_area_inset_left: 0px;

  @supports (padding-top: env(safe-area-inset-top)) {
    --safe_area_inset_top: env(safe-area-inset-top);
    --safe_area_inset_right: env(safe-area-inset-right);
    --safe_area_inset_bottom: env(safe-area-inset-bottom);
    --safe_area_inset_left: env(safe-area-inset-left);
  }

  --gray: #99a2ad;
  --green: #00d86b;
  --red: #ff3425;
  --yellow: #F3C937;
  --violet: #9E4BE5;
  --blue: #58B8E6;
  --accent: #e54c70;

  --background: #15171c;
  --secondary: #1d1f27;
  --primary: #32353e;

  --green-secondary: rgba(0, 216, 107, 10%);
  --red-secondary: rgba(216, 0, 0, 10%);

  --text-primary: #fcfcfc;
  --text-secondary: #d1d1d1;
  --text-muted: rgba(209, 209, 209, 60%);
  --text-error: var(--text-secondary);
  --text-success: var(--text-secondary);
  --text-warning: var(--text-secondary);

  --padding-large: 16px;
  --padding-middle: 12px;
  --padding-small: 8px;
  --padding-smallest: 4px;
  --padding-default: var(--padding-middle);

  --radius-large: 30px;
  --radius-middle: calc(var(--radius-large) / 2);
  --radius-small: calc(var(--radius-middle) / 2);
  --radius-default: var(--radius-middle);

  --header-height: 56px;
  --tabbar-height: 48px;
}
